Formatting

In [2]:
# type number 1 formatting
name="Shikhan"
age=26
height=12.546
print("name: ",name,"age: ",age,"height:",height)

name:  Shikhan age:  26 height: 12.546

In [6]:
# type number 2 formatting
name="Shikhan"
age=26
height=12.546
print("name: {0} age: {1} height: {2}".format(name,age,height))

name: Shikhan age: 26 height: 12.546

In [8]:
# type number 3 formatting
name="Shikhan"
age=26
height=12.546
print("name: %s age: %d height: %.3f"%(name,age,height))

name: Shikhan age: 26 height: 12.546

In [9]:
# type number 4 formatting
name="Shikhan"
age=26
height=12.546
print(f"name: {name} age: {age} height: {height}")

name: Shikhan age: 26 height: 12.546

In [11]:
name="Shikhan"
age=26
height=12.546
print(f"name: {name} age: {age} height: {height: .2f}")

name: Shikhan age: 26 height:  12.55

In [1]:
name="kakan"
age=66
height=12.258
print(f"name: {name} age: {age} height: {height: .2f}")

name: kakan age: 66 height:  12.26