string

In [9]:
gender="Male"
print(gender)
type(gender)

Male

str

In [70]:
gender='Male'
print(gender)
type(gender)

Male

str

Single or double quatation explain

In [ ]:
print('father's name) # it is wrong

In [8]:
print("father's name")# it is true

father's name

In [ ]:
print('father"s name')# it is true

slicing [strat:stop:step]

In [11]:
name = " Shikhan Kakan "
name

' Shikhan Kakan '

In [13]:
name = " Shikhan Kakan "
name[1]

'S'

In [14]:
name = " Shikhan Kakan "
name[1:5]

'Shik'

In [17]:
#Step
name = " Shikhan Kakan "
name[0:12:2]

' hka a'

In [20]:
name = " Shikhan Kakan "
name[0::2]

' hka aa '

In [25]:
#negative index slicing
name = " Shikhan Kakan "
name[-2] # oposite direction

'n'

In [26]:
#negative index slicing
name = " Shikhan Kakan "
name[-1:-5] #it is wrong because slicing step default plus 1

''

In [19]:
#negative index slicing
name = " Shikhan Kakan "
name[-1:-12:-2]

' aa ak'

In [27]:
#negative index slicing
name = " Shikhan Kakan "
name[::-1]#full name oposite direction

' nakaK nahkihS '

In [29]:
#negative index slicing
name = " Shikhan Kakan "
name[-6:]

'Kakan '

In [38]:
#negative index slicing
name = "Shikhan Kakan"
name[-5::1]

'K nahkihS'

In [39]:
#negative index slicing
name = "Shikhan Kakan"
name[-5::-1]

'K nahkihS'

Str Methods

In [40]:
name="Shikhan"
name.lower() # All letter lower

'shikhan'

In [41]:
name="Shikhan"
name.upper() # # All letter upper

'SHIKHAN'

In [44]:
name="shikhan kakan"
name.title() # all first letter upper

'Shikhan Kakan'

In [49]:
name="Shikhan Shibu"
name.capitalize() # only first letter is upper another small/lower

'Shikhan shibu'

In [51]:
name="Shikhan Shibu"
name.swapcase() # this methods indicate (upper is lower)(lower is upper)
#print(name.swapcase()) this is print style

sHIKHAN sHIBU

In [52]:
email="Shikhan@gmail.com"
email.count("a") # this method indicate letter count .any single letter repeat count
#count case sensitive means=(upper/loewer)

2

In [54]:
email="Shikhan@gmailsh.com"
email.count("sh")

1

In [55]:
email="Shikhan@gmail.com"
email.find("@") # it's mean  letter excetely number find

7

In [56]:
email="Shikhan@gmail.com"
email.split("@") #split means devided sentence

['Shikhan', 'gmail.com']

In [57]:
email="Shikhan@gmail.@com"
email.split("@")

['Shikhan', 'gmail.', 'com']

In [58]:
email="Shikhan@gmail.@com"
email.replace("@","$")#it's means one word delete another word come

'Shikhan$gmail.$com'

In [59]:
email="Shikhan@gmail.com"
email.endswith(".com") # means last word (this character boolian type true /false)

True

In [60]:
email="Shikhan@gmail.com"
email.startswith("sh")# means first word (this character boolian type true /false)

False

In [61]:
email="Shikhan@gmail.com"
email.index("@")

7

In [62]:
email="Shikhan@gmail.com"
email.isalpha()

False

In [63]:
email="Shikhangmail.com"
email.isalpha()

False

In [64]:
email="Shikhan@gmail com"
email.isalpha()

False

In [66]:
email="Shikhangmailcom"
email.isalpha()

True

In [68]:
email="Shikhan1gmailcom"
email.isalnum()

True

Numbers

In [71]:
age = 25
type(age)

int

In [72]:
height= 17.258
type(height)

float

In [80]:
com = 2+3j
print(com)
print(com.real)# real means real part
print(com.imag)# img means imaginary part
type(com)

(2+3j)
2.0
3.0

complex

Boolean

In [81]:
is_married=True
type(is_married) # only true or false

bool

In [82]:
is_married=False
type(is_married)

bool

Type Casting

In [83]:
num=25648
float(num)

25648.0

In [84]:
num=5126.597
int(num)

5126

In [85]:
name="64664.555"
float(name)

64664.555

In [87]:
name="565.256"
int(name)# eroor bacause . not int type

ValueError: invalid literal for int() with base 10: '565.256'

In [88]:
age=50
complex(age)

(50+0j)

In [89]:
com=50+3k
int(com)

SyntaxError: invalid decimal literal (3012327127.py, line 1)

In [90]:
height=13.58
complex(height)

(13.58+0j)

In [91]:
num=5 6
int(num)# error because space not int number

SyntaxError: invalid syntax (4227277619.py, line 1)

In [92]:
num=52.56
str(num)

'52.56'